version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: my_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST: ${POSTGRES_HOST}
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  # pgadmin tool for postgres
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    ports:
      - "${PGADMIN_PORT}:${PGADMIN_PORT_CONTAINER}"
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
  
  pgvector:
    image: pgvector/pgvector:pg16
    container_name: pgvector
    ports:
      - "${PGVECTOR_PORT}:${PGVECTOR_PORT}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    volumes:
      - pgdata:/var/lib/postgresql/data


  redis:
    image: redis:7
    container_name: my_redis
    restart: unless-stopped
    ports: 
      - "${REDIS_PORT}:${REDIS_PORT}"
  
  celery_worker:
    build: .
    container_name: my_celery_worker
    restart: unless-stopped
    env_file:
      - .env
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL_DOCKER}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND_DOCKER}
    depends_on:
      - redis
      - postgres
    
  celery_beat:
    build: .
    container_name: my_celery_beat
    restart: unless-stopped
    command: celery -A worker.celery_app.celery beat --loglevel=info
    env_file:
      - .env
    environment:
      CELERY_BROKER_URL: ${CELERY_BROKER_URL_DOCKER}
      CELERY_RESULT_BACKEND: ${CELERY_RESULT_BACKEND_DOCKER}
    depends_on:
      - redis
      - postgres
   

      
volumes:
  pgdata:
