fastapi
uvicorn
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt<4
python-dotenv
psycopg2-binary
python-multipart
httpx
boto3
celery
redis
pdfplumber
python-docx
transformers
torch
sentence-transformers
pgvector
psycopg